html, body {
    height: 100%;
    margin: 0;
}

.container-helloWorld{
    color: #f2858a;
    background-color: #e8f0f4;
    width: auto;
    min-height: 100%;
    display: flex;
    font-family: 'Permanent Marker', cursive;
}

.container-welcome-message{
    background-color: #e8f0f4;
    font-family: 'Montserrat', sans-serif;
}

#HelloWorld{
    font-size: 8vw;
}

.button-pink{
    background-color: #f2858a;
    color: white;
    
}

.container-fasilitas{
    background-color: #f2858a;
}

.container-footer{
    background-color: #C4C4C4;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

.angka-statistik{
    font-family: 'BenchNine', sans-serif;
    font-size: 4em;
}

@media only screen and (max-width: 900px) {
    .button-pink{
        font-size: 10px;
    }
    .button-pink2{
        font-size: 10px;
    }
  }

