.pop_up{
    width: 100%;
    height: 100%;
    position: fixed;
    background: #00000090;
    top:0;
    display: none;
}

.to-top{
    position: absolute;
    right: 5%;
    color: #f2858a;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}

.pop_content{
    margin:10%;
}

.pop_content img{
    width: 50%;
}

.tentang{
    text-align: end;
    font-size: 700%;
}

.ttg-1{
    padding-top: 30vh;
    font-family: 'Boogaloo', cursive;
    font-size: 1050%;
    text-shadow: 0.3vw 0.2vw black;
    text-align: center;
}

body{
    font-family: 'Montserrat', sans-serif;   
}

.fully{
    height: 100vh;
}

.blue{
    background-color: aliceblue;
}

html, body{
    height: 100%;
}

.pink{
    background-color: #f2858a;
}

footer{
    padding: 4vh 0 5vh 0;
    background-color: grey;
}

h6,h5{
    color: rgb(51, 51, 51);
}

.penjelasan{
    padding: 5%;
    /* background-color: #f2858a; */
}

.lapor{
    text-align: justify;
    font-size: 3vh;
}

.terakhir{
    padding-bottom: 3vh;
}

.laporin{
    padding-bottom: 2vh;
}

.tanya{
    padding: 6vh 3vh 2vh 3vh;
    text-align: center;
}

.daftar{
    padding: 1vw;
    border: 0.5vw solid aliceblue;
    border-radius: 2vw;
    background-color: #ff9ea2;
}

.white{
    font-weight: bold;
}

.list{
    margin-left: 25%;
    margin-bottom: 10%;
    
}

tr{
    font-size: 200%;
}

th{
    background-color: #ff9ea2;
    color: white;
}

table,tr,td{
    border: 1px solid #ff9ea2;
}

.font-tanya{
    font-size: 7.5vw;
    font-weight: bold;
}

.formnya{
    padding: 2vw 6vw 7vw 6vw;
}

.penjelasan{
    padding-bottom: 4vh;
}

label{
    font-size: 2vw;
}

@media only screen and (max-width: 900px){
    /* tablet */
    .tentang{
        font-size: 650%;
    }
    
    .ttg-1{
        padding-top: 35vh;
    }

    .lapor{
        font-size: 2.5vh;
    }

    label{
        font-size: 2.5vw;
    }
}

@media only screen and (max-width: 600px){
    /* phone */
    .tentang{
        font-size: 450%;
    }

    .lapor{
        font-size: 2vh;
    }

    h5{
        font-size: 5vw;
    }

    .lapor{
        font-size: 2.4vh;
        margin-bottom: 0;
    }

    label{
        font-size: 3vw;
    }
}

@media only screen and (max-width: 400px){
    /* iphone 5*/
    .tentang{
        font-size: 400%;
    }

    label{
        font-size: 4vw;
    }
}

@media only screen and (max-width: 350px){
    /* iphone 5*/
    .tentang{
        font-size: 320%;
    }
}