<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title %} Buat Laporan {% endblock title %}
{% block navbar-active-buat %}active{% endblock navbar-active-buat %}

{% block content_block %}


<div class="container" style="flex: auto;">
    <button class="btn btn-primary" id="ubah" style="margin: 15px; float: right;">Dark Mode</button>

    <h2 style="text-align: center; margin-top: 25px;">Halo, {{ user.first_name }} {{ user.last_name }} ({{ user.username }})!</h2>
    <h1 style="text-align: center; margin-bottom: 25px;">Yuk Ceritakan Masalahmu Disini!</h1>
    <div class="alert alert-success" style="display: none;" id="alert-success">
        Sukses Menambahkan Laporan!
    </div>
    <div class="row">
        <div class="container col-md-6">
            <form method="POST" class="container" id="laporan-form">
                {% csrf_token %}
                <table>
                    {{ form }}
                </table>

                <p style="text-align: right; font-size: 10px;">
                    <i>*Tekan <b>alt</b> + <b>Enter</b> secara bersamaan juga bisa digunakan untuk submit.</i>
                </p>
                
                <div style="text-align: center">
                    <input type="submit" value="Lapor-sis!" id="submit-button" class="btn btn-light" 
                        style="margin-top: 5px; margin-bottom: 25px; background-color: #f2858a; color: white;">
                </div>
            
            </form>
        </div>
        
        <div class="container col-md-6">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="
                text-align: center; height: 100%; width:100%; display:table">

                <div class="carousel-inner" style="display: table-cell; vertical-align: middle;">
                    <div class="carousel-item active">
                        <p class="d-block w-100"><p><i>“Marilah kita bersama menjaga perempuan serta anak yang ada di sekitar kita,
                                anak merupakan generasi penerus bangsa. Menyelamatkan satu perempuan sama dengan menyelamatkan satu bangsa."</i></p>
                    </div>

                    <div class="carousel-item ">
                        <p class="d-block w-100"><p><i>"Aku akan mengalahkan keraguan serta rasa takut, dan menukarnya dengan keberanian."</i></p>
                    </div>

                    <div class="carousel-item">
                        <p class="d-block w-100"><p><i>"Jangan takut, sebenarnya kamu tidak pernah berjalan sendiri. Selalu ada Dia yang menuntunmu."</i></p>
                    </div>
                </div>

                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

    </div>



    <div class="row" style="margin-top: 100px">
        <div class="container table-container">
            <h3>Adakah namamu dibawah ini?</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Pengirim Laporan:</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                </tbody>
            </table>
            <a href="{% url 'laporan:lihatLaporan' %}"><button class="btn btn-primary" style="margin-bottom: 25px;">Cek Status Laporan</button></a>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/buat_laporan.js' %}"></script>

{% endblock content_block %}