<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<!-- Header -->
{% block title %} Lapor Sis! {% endblock title %}
{% block navbar-active-home %}active{% endblock navbar-active-home %}


<!-- Body -->
{% block content_block %}
    <!-- <div class="container-fluid container-helloWorld d-flex align-items-center justify-content-center">
        <h1 class ="p-2" id="HelloWorld">Coming Soon!</h1>
    </div> -->

    <div class="container container-welcome-message d-flex col-12 ">
        <div class="row col-12 mx-auto my-5 p-4">
            <div class="container m-auto col-md-6">
                <div class="row mx-sm-3">
                <h3 class="">Kamu tidak sendirian! Mari kita hentikan kekerasan bersama-sama, mulai dari kamu!</h3>
                </div>
                <div class="row mt-3 mx-sm-3">
                    <a href="{% url 'formLaporan:buatLaporan' %}" class="btn btn-dark button-pink mr-auto mx-sm-3">Buat Laporan</a>
                    <a href="{% url 'laporan:lihatLaporan' %}" class="btn btn-dark button-pink mx-2 mx-sm-3">Status Laporan</a>
                </div>
            </div>
            <div class="container m-auto col-md-6">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="card my-4 my-md-0">
                                        <img src="{% static 'komnas-perempuan.jpg' %}" class="card-img-top mx-auto" style="width: 16em;">
                                        <div class="card-body">
                                            <p class="card-text">Selamat hari Anti kekerasan Terhadap perempuan! Kami berdiri untuk menegakkan keadilan</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="card">
                                        <img src="{% static 'three-smiling-orphans.jpg' %}" class="card-img-top mx-auto" alt="..." style="width: 23em;">
                                        <div class="card-body">
                                            <p class="card-text">Anak-anak pun butuh perlindungan! Mari kita dukung dengan mengingatkan terhadap sesama manusia</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="card">
                                        <img src="{% static 'lending-hands.png' %}" class="card-img-top" alt="">
                                        <div class="card-body">
                                            <p class="card-text">Keluarga Harmonis Tercipta dari kedamaian! ayo ciptakan Kedamaian</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid container-fasilitas d-flex flex-column align-items-center justify-content-center py-3">
        <h1>Kita Bisa Bantu Kamu!</h1>
        <div class="container row py-2 d-flex justify-content-center ">

            <div class="card mx-auto my-3 my-sm-0" style="width: 18rem;">
                <img class="card-img-top mx-auto" src="{% static 'counselling.png' %}" alt="Card image cap" style="width: 16rem;">
                <div class="card-body">
                  <h5 class="card-title text-center">Konseling Trauma</h5>  
                  <p class="card-text text-justify">Lapor-sis menyediakan fasilitas bagi kalian yang menghadapi trauma. Agar, bisa kembali ke kehidupan yang damai</p>
                </div>
            </div>
            
            <div class="card mx-auto my-3 my-sm-0" style="width: 18rem;">
                <img class="card-img-top mx-auto my-2" src="{% static 'law.png' %}" alt="Card image cap" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title text-center">Bantuan Hukum</h5>
                  <p class="card-text text-justify">Bantuan Hukum akan diberikan bagi yang ingin menegakkan keadilan! Lapor-sis menyediakan layanan bagi kalian yang ingin keadilan</p>
                </div>
            </div>
            
            <div class="card mx-auto my-3 my-sm-0" style="width: 18rem;">
                <img class="card-img-top mx-auto" src="{% static 'shield.png' %}" alt="Card image cap" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title text-center">Perlindungan</h5>
                  <p class="card-text text-justify">Kami akan selalu memperjuangkan keadilan serta memberi perlindungan kepada korban    </p>
                </div>
            </div>
        </div> 
    </div>

    <div class="container-fluid container-statistik d-flex flex-column align-items-center py-3 col-12">
        <h1>Berapa Orang Yang Telah Kita Bantu?</h1>
        <div class="container container-statistic-card d-flex flex-wrap justify-content-around">
            
            <div class="card col-sm-5 mx-2 my-4" style="max-width: 540px;">
                <div class="row no-gutters"> 
                    <div class="col-4 my-auto">
                        <h1 id="" class="text-center angka-statistik">5624</h1>
                    </div>   
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-body"  class="text-center">Kasus KDRT</h5>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card col-sm-5 mx-2 my-4" style="max-width: 540px;">
                <div class="row no-gutters"> 
                    <div class="col-4 my-auto">
                        <h1 id=""  class="text-center angka-statistik ">4562</h1>
                    </div>   
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-body">Kasus Pemerkosaan</h5>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card col-sm-5 mx-2 my-4" style="max-width: 540px;">
                <div class="row no-gutters"> 
                    <div class="col-4 my-auto">
                        <h1 id=""  class="text-center angka-statistik ">4524</h1>
                    </div>   
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-body">Kasus Perselingkuhan</h5>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card col-sm-5 mx-2 my-4" style="max-width: 540px;">
                <div class="row no-gutters"> 
                    <div class="col-4 my-auto">
                        <h1 id=""  class="text-center angka-statistik ">1534</h1>
                    </div>   
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-body">Kasus Pelecehan</h5>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card col-sm-5 mx-2 my-4" style="max-width: 540px;">
                <div class="row no-gutters"> 
                    <div class="col-4 my-auto">
                        <h1 id=""  class="text-center angka-statistik ">9875</h1>
                    </div>   
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-body">Kasus Penelantaran Anak</h5>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card col-sm-5 mx-2 my-4" style="max-width: 540px;">
                <div class="row no-gutters"> 
                    <div class="col-4 my-auto">
                        <h1 id=""  class="text-center angka-statistik ">1234</h1>
                    </div>   
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-body">Kasus Stalking</h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid container-footer h-30 pt-4 pb-4">
        <h1>Kenali Kami Lebih Baik</h1>
        <a href="{% url 'about:tentang-kami' %}" class="btn btn-dark mt-3">Tentang Kami</a>
    </div>
    
{% endblock content_block %}