<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<!-- Header -->
{% block title %} Lapor Sis! {% endblock title %}

<!-- Body -->
{% block content_block %}
    <!-- <div class="container-fluid container-helloWorld d-flex align-items-center justify-content-center">
        <h1 class ="p-2" id="HelloWorld">Coming Soon!</h1>
    </div> -->
    {% if 'next' in request.GET %}
    <script>alert("Silahkan Login terlebih dahulu.\nTerima Kasih :)")</script>
    {%endif%}

    <div class="container-fluid container-login-page d-flex align-items-center col-12 justify-content-center">
        <div class=" container row col-4">
            <h1 id="header-login-page">Login</h1>
            <div class="container container-login border border-secondary rounded-lg">
                <form method="POST"action="{% url 'landingPage:login'%}" class="container m-auto">
                    {% csrf_token %}
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" class="form-control">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" class="form-control">
                    <input type="checkbox" onclick="hide()">Show Password</input>
                    <button type="submit" class="btn btn-primary btn-sm align-middle" id="button-login" name="login-button">Login</button>
                </form>
            </div>
        </div>
    </div>
    

   
{% endblock content_block %}