<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<!-- Header -->
{% block title %} Lapor Sis! {% endblock title %}
{% block navbar-active-home %}active{% endblock navbar-active-home %}


<!-- Body -->
{% block content_block %}
    <!-- <div class="container-fluid container-helloWorld d-flex align-items-center justify-content-center">
        <h1 class ="p-2" id="HelloWorld">Coming Soon!</h1>
    </div> -->
    <div class="container-fluid container-login-page d-flex align-items-center col-12 justify-content-center">
        <div class=" container row col-4 justify-content-center">
            <h1 id="header-login-page">Register</h1>
            <div class="container container-login border border-secondary rounded-lg">
                    <form action="{% url 'landingPage:register' %}" method="POST">
                        {%csrf_token%}
                        {{form.as_p}}
                        <input type="submit" class="btn btn-primary" value="Daftar" style="float: right;">
                    </form>
                    <br>
                    <br>
                    <br>
                    <p>Are you admin?</p>
                    <a href="{% url 'laporan:ubahLaporan'%}" class="btn btn-danger mb-5"> click me to chage status</a>
            </div>
        </div>
    </div>
    

   
{% endblock content_block %}